<div class="bg-light-purple min-h-screen">
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-center text-black mb-8">Montaje Peluquería</h1>
    
    <!-- Image Gallery -->
    <div class="grid grid-cols-2 md:grid-cols-7 gap-4 mb-8">
      <img src="https://lilianasoto.com.co:8099/montaje_img_01.jpg" alt="Image 1" class="w-full h-full object-cover rounded-lg">
      <img src="https://lilianasoto.com.co:8099/montaje_img_02.jpg" alt="Image 2" class="w-full h-full object-cover rounded-lg">
      <img src="https://lilianasoto.com.co:8099/montaje_img_03.jpg" alt="Image 3" class="w-full h-full object-cover rounded-lg">
      <img src="https://lilianasoto.com.co:8099/montaje_img_04.jpg" alt="Image 4" class="w-full h-full object-cover rounded-lg">
      <img src="https://lilianasoto.com.co:8099/montaje_img_05.jpg" alt="Image 5" class="w-full h-full object-cover rounded-lg">
      <img src="https://lilianasoto.com.co:8099/montaje_img_06.jpg" alt="Image 6" class="w-full h-full object-cover rounded-lg">
      <img src="https://lilianasoto.com.co:8099/montaje_img_07.jpg" alt="Image 7" class="w-full h-full object-cover rounded-lg">
      <img src="https://lilianasoto.com.co:8099/montaje_img_08.jpg" alt="Image 8" class="w-full h-full object-cover rounded-lg">
      <img src="https://lilianasoto.com.co:8099/montaje_img_09.jpg" alt="Image 9" class="w-full h-full object-cover rounded-lg">
      <img src="https://lilianasoto.com.co:8099/montaje_img_10.jpg" alt="Image 10" class="w-full h-full object-cover rounded-lg">
      <img src="https://lilianasoto.com.co:8099/montaje_img_11.jpg" alt="Image 11" class="w-full h-full object-cover rounded-lg">
      <img src="https://lilianasoto.com.co:8099/montaje_img_12.jpg" alt="Image 12" class="w-full h-full object-cover rounded-lg">
      <img src="https://lilianasoto.com.co:8099/montaje_img_13.jpg" alt="Image 13" class="w-full h-full object-cover rounded-lg">
      <img src="https://lilianasoto.com.co:8099/montaje_img_14.jpg" alt="Image 14" class="w-full h-full object-cover rounded-lg">
      <img src="https://lilianasoto.com.co:8099/montaje_img_15.jpg" alt="Image 15" class="w-full h-full object-cover rounded-lg">
      <img src="https://lilianasoto.com.co:8099/montaje_img_16.jpg" alt="Image 16" class="w-full h-full object-cover rounded-lg">
      <img src="https://lilianasoto.com.co:8099/montaje_img_17.jpg" alt="Image 17" class="w-full h-full object-cover rounded-lg">
    </div>
    <app-info-card></app-info-card>
    
    <br><br>
    <h1 class="text-4xl font-bold text-center text-black mb-8">Si te interesa individualmente algún artículo</h1>
    <h4 class="text-2xl text-center text-black mb-8">Haz click en cada tarjeta para conocer el precio</h4>
    <!-- Product Cards -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
      <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
    </div>
    
    <br><br>
    <h1 class="text-4xl font-bold text-center text-black mb-8">¿Tienes una oferta? Contáctanos</h1>
    
  </div>
</div>

<br><br>
<app-whatsapp-icon></app-whatsapp-icon>
<app-footer></app-footer>
<router-outlet />